@import url('https://fonts.googleapis.com/css2?family=Noto Sans JP:wght@900&display=swap');

html, body {
	height: 100%;
	margin: 0;
}
body {
	background: white;
	font-family: 'Noto Sans JP', sans-serif;
}
/*body > div,
body > div > div {
	display: flex;
	gap: 10px;
}
body > div {
	flex-direction: column;
}*/