@import 'default.css';

[class*="shj-lang-"] {
	color: #abb2bf;
	background: #161b22
}
[class*="shj-lang-"]:before {color: #6f9aff}

.shj-syn-deleted,
.shj-syn-err,
.shj-syn-var {color: #e06c75}
.shj-syn-section,
.shj-syn-oper,
.shj-syn-kwd {color: #c678dd}
.shj-syn-class {color: #e5c07b}
.shj-numbers,
.shj-syn-cmnt {color: #76839a}
.shj-syn-insert {color: #98c379}
.shj-syn-type {color: #56b6c2}
.shj-syn-num,
.shj-syn-bool {color: #d19a66}
.shj-syn-str,
.shj-syn-func {color: #61afef}
