label, .chrono {font: 14px Arial}
.radio-list {
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 5px
}
input {
	position: absolute;
	visibility: hidden
}
label {
	cursor: pointer;
	transition: .2s;
	background: #c5c5e022;
	border-radius: 5px;
	padding: 10px
}
label:hover {background: #c5c5e033}
input:checked + label {
	color: #58f;
	background: #58f3
}
.chrono {
	padding: 3px;
	border-radius: 2px;
	color: #889
}
