pre {
	margin: 0;
	border-radius: 5px;
	padding: 10px 30px;
	background: #fafafa;
	font-family: monospace;
}

.syn-key {
	color: hsl(285deg, 80%, 70%);
}
.syn-num,
.syn-class {
	color: hsl(25deg, 90%, 70%);
}
.syn-cmt {
	color: hsla(0deg, 0%, 80%);
	font-style: italic;
}
.syn-str {
	color: hsl(130deg, 50%, 65%);
}
.syn-bool {
	color: hsl(199, 88%, 60%);
}
.syn-oper {
	color: rgb(85, 160, 246);
}
.syn-func {
	color: hsl(220deg, 90%, 65%);
}
.syn-var {
	color: hsl(0deg, 90%, 65%);
}