pre[class*="lang-"].syn {
	background: #161e2e;
	color: #fff
}
pre[class*="lang-"].syn > code {
  scrollbar-color: #222
}
pre[class*="lang-"].syn > code::-webkit-scrollbar-thumb {
  background: #222
}
pre[class*="lang-"].syn ::selection {
	background: #b3d4fc1f
}
.syn-cmt {
	color: #ddd
}