pre[class*="lang-"] {
	margin: 10px 0;
	border-radius: 10px;
	padding: 10px;
	background: white;
	color: #112;
	box-shadow: 0 0 5px #0001;
	text-shadow: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	font-family: Consolas, "Courier New", Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	box-sizing: border-box;
	max-width: min(100%, 100vw)
}
pre[class*="lang-"] > code {
	display: block;
	padding: 10px;
	overflow: auto;
	scrollbar-color: #eee;
	scrollbar-width: thin
}
pre[class*="lang-"] > code::-webkit-scrollbar {
	width: 5px;
	height: 8px
}
pre[class*="lang-"] > code::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #eee
}
pre[class*="lang-"]:before {
	content: attr(data-lang);
	color: #58f;
	background: #58f3;
	display: block;
	border-radius: 5px;
	padding: 8px 20px;
	height: 32px;
	overflow: hidden;
	line-height: 32px
}
pre[class*="lang-"]::selection {
	text-shadow: none;
	background: #bdf
}
.syn-key {color: #e16}
.syn-num,
.syn-class {color: #f60}
.syn-cmt {
	color: #999;
	font-style: italic
}
.syn-str {color: #7d8}
.syn-insert {color: #5b7}
.syn-bool {color: #3bf}
.syn-type,
.syn-oper {color: #5af}
.syn-section,
.syn-func {color: #84f}
.syn-deleted,
.syn-var {color: #f44}
